<header class="show-mobile">
  <nav>
    <button (click)="togglemenu()">
      <img src="assets/svg/icon_menu.svg" alt="menu">
    </button>

    <a href="">
      <img src="assets/svg/logo_yard_sale.svg" alt="logo">
    </a>

    <a href="">
      <img src="assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
  </nav>

  <menu class="side-menu" [class.active]="activeMenu">
    <button (click)="togglemenu()" >Close</button>
    <ul class="menu-list">
      <li><a routerLinkActive="active" routerLink="home">All</a></li>

      <li *ngFor="let ctg of categories">
        <a
          [routerLink]="['/category', ctg.id]"
          routerLinkActive="active"
        >
          {{ ctg.name }}
        </a>
      </li>

    </ul>
  </menu>
</header>



<header class="hide-mobile">
  <nav>
    <section>
      <a class="logo" href="">
        <img src="assets/svg/logo_yard_sale.svg" alt="logo">
      </a>

      <ul>
        <li><a routerLinkActive="active" routerLink="home">All</a></li>

        <li *ngFor="let ctg of categories">
          <a
            [routerLink]="['/category', ctg.id]"
            routerLinkActive="active"
          >
            {{ ctg.name }}
          </a>
        </li>
      </ul>
    </section>

    <section class="info">
      <div>
        <button
          *ngIf=" !profile; else elseBlock"
          (click)="login()"
        >Login</button>

        <ng-template #elseBlock>
          <a routerLink="/profile">{{ profile?.email }}</a>
        </ng-template>
      </div>

      <section class="cart">
        <a href="">
          <img src="assets/svg/icon_shopping_cart.svg" alt="">
        </a>
        <span class="counter">{{counter}}</span>
      </section>
    </section>
  </nav>
</header>
