<!-- <app-nav></app-nav> -->

<!-- ROUTES -->
<!-- <app-products></app-products> -->
<router-outlet></router-outlet>



<!-- <button (click)="toggleImg()" >toggle</button>

<app-img
  *ngIf="showImg"
  (loaded)="onLoaded($event)"
  [imgUrl]="imgUrl"
></app-img> -->

<!-- DOWNLOAD TEXT -->
<!-- <a href="../assets/files/text.txt" download>Download</a> -->

<!-- DOWNLOAD PDF WITH LIBRARY -->
<!-- <button (click)="downloadPDF()">Download PDF</button> -->

<!-- UPLOAD FILES -->
<!-- <input type="file" (change)="onUploadFile($event)"> -->
<!-- <img
width="50"
  *ngIf="imgRta"
  [src]="imgRta"
  alt="random"
> -->


<!-- <button (click)="createUser()">Create User</button> -->
<!-- <button (click)="login()">Login</button>
  <button (click)="getProfile()">Profile</button> -->
