<h1>Form</h1>

<form (ngSubmit)="onSubmit()" #myForm="ngForm" >
  <article class="input-group">
    <label for="username">username:</label>
    <input
      type="text"
      name="username"
      id="username"
      [(ngModel)]="register.username"
      required
    >
    <p>Mensajes de error</p>
  </article>
  <article class="input-group">
    <label for="email">email:</label>
    <input
      type="email"
      name="email"
      id="email"
      [(ngModel)]="register.email"
      required
    >
    <p>Mensajes de error</p>
  </article>
  <article class="input-group">
    <label for="password">password:</label>
    <input
      type="password"
      name="password"
      id="password"
      [(ngModel)]="register.password"
      required
    >
    <p>Mensajes de error</p>
  </article>

  <input
    type="submit"
    value="Registrar"
    [disabled]="myForm.invalid"
  >
</form>



<h3></h3>


<h1>estilos</h1>

<h2>ngClass & ngStyle</h2>


<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<!-- <hr class="line-error"
  [class.valid]="nameInput3.valid"
  [class.invalid]="nameInput3.invalid"
>  -->
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput3.valid,
    'invalid': nameInput3.invalid
  }"
>

<section>
  <article>
    <input type="number" [(ngModel)]="box.width" >
    <input type="number" [(ngModel)]="box.height" >
    <input type="color" [(ngModel)]="box.bg" >
  </article>
  <article>
   <div [ngStyle]="{
     'width.px': box.width,
     'height.px': box.height,
     'background-color': box.bg,
     'display': 'block'
   }"></div>
  </article>
</section>

<hr>


<p
  class="message--error" [class.invalid]="nameInput3.invalid">
  campo requerido
</p>


<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p
  class="message--error" [class.invalid]="nameInput2.invalid">
  campo requerido
</p>

<label>Name</label>
<input
  type="text"
  required #nameInput3="ngModel"
  [(ngModel)]="person.name"
>
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto de prueba</p>

<section>
  <article>
    <input type="text" [(ngModel)]="widthImg">
  </article>
  <article>
    <img [style.width.%]="widthImg" [src]="img" alt="random">
  </article>
</section>

<section class="products">
  <article *ngFor="let p of products">
    <h2>{{p.name}}</h2>
    <h3>{{p.price}}</h3>
    <h4>{{p.category}}</h4>
  </article>
</section>


<hr>

<h1>ngSwith</h1>

<input type="text" required [(ngModel)]="person.name">
<article [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicole'">Nicole</p>
  <p *ngSwitchCase="'Jess'">jess</p>
  <p *ngSwitchCase="'alex'">Alex</p>
  <p *ngSwitchDefault>sin coincidencias</p>
</article>


<hr>

<h1>*ngFor</h1>


<section>
  <article *ngFor="let p of products">
    <h2>{{p.name}}</h2>
    <h3>{{p.price}}</h3>
    <h4>{{p.category}}</h4>
  </article>
</section>


<input type="text" required [(ngModel)]="newName">
<button (click)="addName()" >Add name</button>
<ul>
  <li *ngFor="let name of names; index as i">
    {{ i }} : {{ name }}
    <button (click)="deleteName(i)" >Delete</button>
  </li>
</ul>

<p *ngIf="names.length === 0">Empty list</p>


<hr>

<h1>ngIf</h1>

<input type="number" [(ngModel)]="person.age">
<p *ngIf="person.age > 18;" else anotherBlock>It is legal</p>

<ng-template #anotherBlock>
  <p>It is not legal</p>
</ng-template>

<hr>

<h1>Data biniding ngModel</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Valid: {{nameInput.valid}}</p>
<p>{{person.name}}</p>

<input type="number" max="18" min="6" required #ageInput="ngModel" [(ngModel)]="person.age" >
<p>Valid: {{ageInput.valid}}</p>
<p>Age: {{person.age}}</p>

<hr>


<h1>events Binding</h1>
<button [disabled]="btnDisable" >Send</button>
<button (click)="toggleButton()">Toggle</button>
<h4>age: {{person.age}}</h4>
<button (click)="increaseAge()">+</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam iste doloribus repudiandae dolore molestiae eaque? Inventore eum maxime error! Neque voluptates fuga consequatur consectetur quos atque architecto repudiandae quod molestias.
  Eaque similique quod, laborum cupiditate nesciunt eum alias modi rerum molestias consectetur magni accusamus eius quos tenetur nobis! Tempore et debitis perspiciatis officiis quasi deserunt incidunt at quos ea sed.
  Cupiditate error, at magnam a impedit aliquid ut amet repellendus aspernatur culpa quam. Nesciunt, pariatur molestiae. Unde eaque excepturi, consequatur beatae vel est dolore! Est dolor expedita quos perferendis consequuntur.
  Inventore perferendis magnam, iusto numquam architecto facere, minus qui consequuntur eum vel quibusdam commodi quisquam ratione repudiandae exercitationem eos doloremque autem quod? Blanditiis aspernatur reprehenderit omnis, tenetur repellat perferendis temporibus.</p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<h4>person name: {{person.name}}</h4>

<hr>

<h1>Properties</h1>
<button [disabled]="btnDisable" >Send</button>
<input type="text" [value]="name">
<progress max="100" [value]="age"></progress>
<img [src]="img" alt="random" width="100">
<h2>with objects</h2>
<h3>my name is {{person.name}}</h3>

<hr>


<h1>Hi World</h1>
<h2>{{'Hi There!'.repeat(3)}}</h2>
<p>3 + 3 = {{3 + 3 }}</p>
<h3>Hi, my name is {{name}} and I am {{age}} years old</h3>
<img src={{img}} alt="random" width="100">
